<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">
<title>Shoppeo 관리자 페이지</title>

<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid" style="padding: 0px;">
	<div>
		<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
			<a class="navbar-brand" th:href="@{/}">
				<img th:src="@{images/ShoppeoAdminSmall.png}" style="height:30px"/>
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar" style="padding:0.25rem 0.5rem;font-size:0.55rem;">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="topNavbar">
				<ul class="navbar-nav" style="margin:5px 4px; font-size: 0.9rem">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/users}">회원 관리</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
	<div style="padding:310px">
		<h4>shoppeo는 이커머스 플랫폼을 목표로 제작되었고 현재는 관리자 회원관리 페이지만 확인 가능합니다.</h1>
	</div>
</div>
	
</body>
</html>