<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">
<title>신규 회원 생성 페이지</title>

<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid" style="padding: 0px;">
	<div>
		<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
			<a class="navbar-brand" th:href="@{/}">
				<img th:src="@{/images/ShoppeoAdminSmall.png}" style="height:30px"/>
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar" style="padding:0.25rem 0.5rem;font-size:0.55rem;">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="topNavbar">
				<ul class="navbar-nav" style="margin:5px 4px; font-size: 0.9rem">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/users}">회원 관리</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/categories}">카테고리</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/brands}">브랜드</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/products}">상품</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/customers}">고객</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/shipping}">배송</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/orders}">주문</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/report}">통계</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/articles}">기사</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/menus}">메뉴</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/settings}">옵션</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
	<div>
		<h4>회원 관리 - 신규 회원 생성</h4>
		<form th:action="@{/users/save}" method="post" style="max-width:700px; margin:0 auto;" th:object="${user}" onsubmit="return checkEmailUnique(this)">
			<div style="box-shadow: 0 7px 8px -4px rgba(0,0,0,.2),0 12px 17px 2px rgba(0,0,0,.14),0 5px 22px 4px rgba(0,0,0,.12)!important;padding:80px; border-radius:13px;">
				<div class="form-group row">
					<label class="col-sm-4 col-form-label">이메일</label>
					<div class="col-sm-8">
						<input type="email" class="form-control" th:field="*{email}" required minlength="8" maxlength="128">
					</div>
				</div>
				
				<div class="form-group row">
					<label class="col-sm-4 col-form-label">이름</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" th:field="*{name}" required minlength="2" maxlength="45">
					</div>
				</div>
				
				<div class="form-group row">
					<label class="col-sm-4 col-form-label">비밀번호</label>
					<div class="col-sm-8">
						<input type="password" class="form-control" th:field="*{password}" required minlength="8" maxlength="20">
					</div>
				</div>
				
				<div class="form-group row">
					<label class="col-sm-4 col-form-label">권한</label>
					<div class="col-sm-8">
						<th:block th:each="role : ${listRoles}">
						<input type="checkbox" th:field="*{role}"
							th:text="${role.name}"
							th:value="${role.id}"
							class="m-2"
						/>
						- <small>[[${role.description}]]</small><br>
						</th:block>
					</div>
				</div>
				
				<div class="form-group row">
					<label class="col-sm-4 col-form-label">상태</label>
					<div class="col-sm-8">
						<input type="checkbox" th:field="*{enabled}" class="m-2"/>
					</div>
				</div>
				
				<div class="text-center">
						<input type="submit" value="생성" class="btn btn-primary m-3"/>
						<input type="button" value="취소" class="btn btn-secondary" id="buttonCancel"/>
					</div>
			</div>
		</form>
		
		<div class="modal fade text-center" id="modalDialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modalTitle"></h5>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					
					<div class="modal-body">
						<span id="modalBody"></span>
					</div>
					
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">닫기</button>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	
	<div>
		<p class="text-center">Shoppeo 관리자 페이지 - Copyright &copy; Shoppeo</p>
	</div>  
	
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$("#buttonCancel").on("click", function(){
			window.location = "[[@{/users}]]";
		});
	});
	
	function checkEmailUnique(form){
		url = "[[@{/users/check_email}]]";
		userEmail = $("#email").val();
		csrfValue = $("input[name='_csrf']").val();
		params = { email : userEmail , _csrf : csrfValue};
		
		//ajax
		$.post(url, params, function(response){
			if(response=="OK"){
				form.submit();
			}
			else if(response == "Duplicated"){
				showModalDialog("알림", "이미 존재하는 이메일입니다.");
			}	
			else {
				showModalDialog("에러", "잠시 후에 다시 시도해주세요.");
			}
			}).fail(function(){
				showModalDialog("에러", "서버와의 연결이 실패하였습니다");
			});
		
		
		return false;
	}
	
	function showModalDialog(title, message){
		$("#modalTitle").text(title);
		$("#modalBody").text(message);
		$("#modalDialog").modal();
	}
</script>
</body>
</html>