<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">
<title>Shoppeo 관리자 페이지</title>

<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/style.css}" />

<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid" style="padding: 0px;">
	<div>
		<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
			<a class="navbar-brand" th:href="@{/}">
				<img th:src="@{/images/ShoppeoAdminSmall.png}" style="height:30px"/>
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar" style="padding:0.25rem 0.5rem;font-size:0.55rem;">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="topNavbar">
				<ul class="navbar-nav" style="margin:5px 4px; font-size: 0.9rem">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/users}">회원 관리</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
	<div th:if="${success_message != null}" class="alert alert-success text-center mb-0">
		[[${success_message}]]
	</div>
	<div th:if="${not_found_message != null}" class="alert alert-danger text-center mb-0">
		[[${not_found_message}]]
	</div>
	<div>
		<h4 class="mt-3 ml-2">회원 관리</h4>
		<a th:href="@{/users/new}" class="fas fa-user-plus mr-3 ml-2" style="text-decoration:none;"></a>
		<a th:href="@{/users/export/csv}" class="fas fa-file-csv mr-3"></a>
		<a th:href="@{/users/export/excel}" class="fas fa-file-excel mr-3"></a>
		<a th:href="@{/users/export/pdf}" class="fas fa-file-pdf mr-3"></a>
	</div>
	
	<div>
		<form th:action="@{/users/page/1}" class="form-inline m-2" style="font-size:13px">
			<input type="hidden" name="sortField" th:value="${sortField}"/>
			<input type="hidden" name="sortDir" th:value="${sortDir}"/>
		
			<input type="search" name="keyword" th:value="${keyword}" class="form-control" style="font-size:12px; width:auto;" required/>
			 &nbsp;&nbsp;
			 <input type="submit" value="검색" class="btn btn-primary" style="font-size:12px"/> &nbsp;
			 <input type="button" value="초기화" class="btn btn-secondary" style="font-size:12px" onclick="clearFilter()"/>
		</form>
		
	</div>
	
	<div class="full-details">
		<table class="table table-bordered table-striped table-hover table-responsive-xl">
			<thead class="thead-dark">
				<tr>
					<th class="hideable-column">
						<th th:replace="fragments :: column_link('id', 'ID', 'tag')" />
					</th>
					<th class="hideable-column">
					<th th:replace="fragments :: column_link('email', '이메일', 'tag')" />
					</th>
					<th class="text-center align-middle">프로필 사진</th>
					<th th:replace="fragments :: column_link('name', '이름', 'none')" />		
					<th class="align-middle">권한</th>			
					<th th:replace="fragments :: column_link('enabled', '상태', 'none')" />		
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${listUsers}">
					<td class="text-center align-middle hideable-column">[[${user.id}]]</td>
					<td class="align-middle hideable-column">[[${user.email}]]</td>
					<td class="text-center align-middle">
						<i th:if="${user.photos == null}" class="fa-regular fa-image fa-2x icon-dark"></i>
						<img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}" style= "width: 100px; border-radius:10px" />
					</td>
					
					<td class="align-middle">[[${user.name}]]</td>
					<td class="align-middle">[[${user.role}]]</td>
					<td th:if="${user.enabled==true}" class="text-center align-middle"><a class="fa-solid fa-square-check"
						th:href="@{'/users/'+ ${user.id} + '/enabled/false'}"
						title="비활성화하기"></a></td>
					<td th:if="${user.enabled==false}" class="text-center align-middle"><a class="fa-solid fa-square-check icon-dark"
						th:href="@{'/users/'+ ${user.id} + '/enabled/true'}"
						title="활성화하기"></a></td>
					<td class="text-center align-middle">
					<a class="fa-solid fa-file-pen text-decoration-none icon-dark" th:href="@{'/users/edit/'+${user.id}}" title="회원 수정"></a> 
					&nbsp;&nbsp;
					<a class="fa-solid fa-minus text-decoration-none icon-dark link-delete" th:href="@{'/users/delete/'+${user.id}}" title="회원 삭제"></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="less-details">
		<div th:each="user : ${listUsers}" class="row">
			<div class="col-4">
				<i th:if="${user.photos == null}" class="fa-regular fa-image fa-2x icon-dark"></i>
				<img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}" style= "width: 100px; border-radius:10px" />
			</div>
			<div class="col-8">
				<div>[[${user.name}]]</div>
				<div>[[${user.role}]]</div>
				
				<div class="mt-1">
					<span th:if="${user.enabled==true}" class="text-center align-middle"><a class="fa-solid fa-square-check"
					th:href="@{'/users/'+ ${user.id} + '/enabled/false'}"
					title="비활성화하기"></a>
					</span>
					<span th:if="${user.enabled==false}" class="text-center align-middle"><a class="fa-solid fa-square-check icon-dark"
							th:href="@{'/users/'+ ${user.id} + '/enabled/true'}"
							title="활성화하기"></a>
					</span>
					&nbsp;
					<a class="fa-solid fa-file-pen text-decoration-none icon-dark" th:href="@{'/users/edit/'+${user.id}}" title="회원 수정"></a> 
					&nbsp;
					<a class="fa-solid fa-minus text-decoration-none icon-dark link-delete" th:href="@{'/users/delete/'+${user.id}}" title="회원 삭제"></a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="text-center m-1" th:unless = "${totalItems > 0}">
		<span>사용자가 없습니다.</span><br><br>
	</div>
	
	<div th:if="${totalPages > 1}">
		<nav>
			 <ul class="pagination justify-content-center flex-wrap">					
			 		<li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
			 			<a th:replace="fragments :: pagnation_link('1', '처음')" />
				    </li>
				    <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
				   	 	<a th:replace="fragments :: pagnation_link(${currentPage-1}, '이전')" />
				    </li>
				    
				    <li th:class="${currentPage != i ? 'page-item' : 'page-item active'}" th:each="i : ${#numbers.sequence(1, totalPages)}">
				    	<a th:replace="fragments :: pagnation_link(${i}, ${i})" />
				    </li>
				
				    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
				    	<a th:replace="fragments :: pagnation_link(${currentPage+1}, '다음')" />
				    </li>
				    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
				    	<a th:replace="fragments :: pagnation_link(${totalPages}, '끝')" />
				    </li>
			 </ul>
		</nav>
	</div>
	
	<div class="modal fade text-center" id="confirmModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">삭제 확인</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				
				<div class="modal-body">
					<span id="modalBody">이 사용자를 삭제하시겠습니까?</span>
				</div>
				
				<div class="modal-footer">
					<a href="" class="btn btn-success" id="yesButton">삭제</a>
					<button type="button" class="btn btn-danger" data-dismiss="modal">취소</button>
				</div>
			</div>
		</div>
	</div>
	
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$(".link-delete").on("click", function(e){
			e.preventDefault();
			link= $(this);
			$("#yesButton").attr("href",link.attr("href"));
			$("#confirmModal").modal();
			
		});
	});
	
	function clearFilter(){
		window.location = "[[@{/users}]]";
	}
</script>
</body>
</html>