<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">
<title>Shoppeo 관리자 페이지</title>

<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid" style="padding: 0px;">
	<div>
		<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
			<a class="navbar-brand" th:href="@{/}">
				<img th:src="@{images/ShoppeoAdminSmall.png}" style="height:30px"/>
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar" style="padding:0.25rem 0.5rem;font-size:0.55rem;">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="topNavbar">
				<ul class="navbar-nav" style="margin:5px 4px; font-size: 0.9rem">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/users}">회원정보</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/categories}">카테고리</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/brands}">브랜드</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/products}">상품</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/customers}">고객</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/shipping}">배송</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/orders}">주문</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/report}">Sales Report</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/articles}">Articles</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/menus}">Menus</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/settings}">Settings</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
	<div>
		<h2>회원정보</h2>
	</div>
	<div>
		<p>Shoppeo 관리자 페이지 - Copyright &copy; Shoppeo</p>
	</div> 
	
</div>
	
</body>
</html>