<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">
<title>Shoppeo 관리자 페이지</title>

<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/style.css}" />

<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid" style="padding: 0px;">
	<div>
		<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
			<a class="navbar-brand" th:href="@{/}">
				<img th:src="@{/images/ShoppeoAdminSmall.png}" style="height:30px"/>
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar" style="padding:0.25rem 0.5rem;font-size:0.55rem;">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="topNavbar">
				<ul class="navbar-nav" style="margin:5px 4px; font-size: 0.9rem">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/users}">회원 관리</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/categories}">카테고리</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/brands}">브랜드</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/products}">상품</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/customers}">고객</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/shipping}">배송</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/orders}">주문</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/report}">통계</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/articles}">기사</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/menus}">메뉴</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/settings}">옵션</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
	<div>
		<h4>회원 관리</h4>
		<a th:href="@{/users/new}">회원 생성하기</a>
	</div>
	<div th:if="${success_message != null}" class="alert alert-success text-center">
	[[${success_message}]]
	</div>
	<div th:if="${not_found_message != null}" class="alert alert-danger text-center">
	[[${not_found_message}]]
	</div>
	<div>
		<table class="table table-bordered table-striped table-hover table-responsive-xl">
			<thead class="thead-dark">
				<tr>
					<th class="text-center align-middle">번호</th>
					<th class="align-middle">이메일</th>
					<th class="text-center align-middle">프로필 사진</th>
					<th class="align-middle">이름</th>				
					<th class="align-middle">권한</th>			
					<th class="text-center align-middle">상태</th>
					<th class="align-middle"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${listUsers}">
					<td class="text-center align-middle">[[${user.id}]]</td>
					<td class="align-middle">[[${user.email}]]</td>
					<td class="text-center align-middle">
						<i th:if="${user.photos == null}" class="fa-regular fa-image fa-2x icon-dark"></i>
						<img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}" style= "width: 100px; border-radius:10px" />
						</td>
					
					<td class="align-middle">[[${user.name}]]</td>
					<td class="align-middle">[[${user.role}]]</td>
					<td th:if="${user.enabled==true}" class="text-center align-middle"><a class="fa-solid fa-square-check"
						th:href="@{'/users/'+ ${user.id} + '/enabled/false'}"
						title="비활성화하기"></a></td>
					<td th:if="${user.enabled==false}" class="text-center align-middle"><a class="fa-solid fa-square-check icon-dark"
						th:href="@{'/users/'+ ${user.id} + '/enabled/true'}"
						title="활성화하기"></a></td>
					<td class="text-center align-middle"><a class="fa-solid fa-file-pen text-decoration-none icon-dark" th:href="@{'/users/edit/'+${user.id}}"></a> &nbsp;&nbsp;<a class="fa-solid fa-minus text-decoration-none icon-dark link-delete" th:href="@{'/users/delete/'+${user.id}}" title="Delete this user"></a></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="text-center m-1" th:unless = "${totalItems > 0}">
		<span>사용자가 없습니다.</span><br><br>
	</div>
	
	<div>
		<nav>
			 <ul class="pagination justify-content-center">
			 		<li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
				    	<a class="page-link" th:href="@{/users/page/1}">처음</a>
				    </li>
				    <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
				    	<a class="page-link" th:href="@{'/users/page/'+${currentPage - 1}}">이전</a>
				    </li>
				    
				    <li th:class="${currentPage != i ? 'page-item' : 'page-item active'}" th:each="i : ${#numbers.sequence(1, totalPages)}">
				    	<a class="page-link" th:href="@{'/users/page/'+${i}}">[[${i}]]</a>
				    </li>
				
				    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
				    	<a class="page-link" th:href="@{'/users/page/'+${currentPage + 1}}">다음</a>
				    </li>
				    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
				    	<a class="page-link" th:href="@{'/users/page/'+${totalPages}}">끝</a>
				    </li>
			 </ul>
		</nav>
	</div>
	
	<div class="modal fade text-center" id="confirmModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">삭제 확인</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				
				<div class="modal-body">
					<span id="modalBody">이 사용자를 삭제하시겠습니까?</span>
				</div>
				
				<div class="modal-footer">
					<a href="" class="btn btn-success" id="yesButton">삭제</a>
					<button type="button" class="btn btn-danger" data-dismiss="modal">취소</button>
				</div>
			</div>
		</div>
	</div>
	
	<div>
		<p class="text-center">Shoppeo 관리자 페이지 - Copyright &copy; Shoppeo</p>
	</div> 
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$(".link-delete").on("click", function(e){
			e.preventDefault();
			link= $(this);
			$("#yesButton").attr("href",link.attr("href"));
			$("#confirmModal").modal();
			
		});
	});
</script>
</body>
</html>